#wrapper {
    display: flex;
    width: 100%;
    background-color: #e4ebf7;
}

#main {
    display: block;
    width: 100%;
}

#content {
    padding: 40px;
}

#styleSideBar {
    width: 15%;
    height: auto;
    float: left;
    padding: 20px 0 0 0 !important;
    background-color: #1b2133;
}

.styleMarginSideBar {
    margin: 0 10% 0 10% !important;
}

.btnListSVG{
    float: right;
}

.styleListSVG {
    width: 2.5em;
    height: 2.5em;
    color: white;
}

.styleLogo {
    font-weight: bold;
    font-size: 2em !important;
}

.styleLines {
    color: black;
    margin: 10% 0;
}

#styleNavBar {
    padding: 25px;
    background-color: white;
}

#styleSearchSVG {
    float: left;
}

.btnNavBarSVG {
    padding: 0;
    color: gray;
    margin-right: 30px;
}

.styleNavBarSVG {
    width: 1.5em;
    height: 1.5em;
}

.styleSearchForm {
    border: none !important;
    font-size: 1.5em;
}

#bellRotate {
    transform: rotate(25deg);
}

#sectionBigGraph {
    background-color: white;
}

.topOfGraphSection {
    padding: 10px 25px;
    background-color: white;
}

#stylePlusSVG {
    transform: rotate(45deg);
}

.styleSVGPlusMinus {
    width: 1.5em;
    height: 1.5em;
    color: gray;
}

.styleGroupOfPlusMinus {
    float: right;
}

.styleTextTopOfSection {
    font: 1.2em "Segoe UI", serif;
    color: gray;
}

.styleLineOfSections {
    margin: 10px 0;
    height: 2px !important;
    color: gray;
}

#GraphAndButtons {
    padding: 15px 25px;
}

.styleBtnRadius {
    /*border-radius: 25%;*/
    padding: 5px 15px;
}

.styleMinusPlusSVG {
    width: 30px;
    height: 30px;
}

.btnMinusPlusSVG {
    padding: 0;
    color: gray;
}

.plusRotate {
    transform: rotate(45deg);
}

#btnFloatRight {
    float: right;
}

.styleBtnGroup {
    margin-right: 30px;
}

#styleBtnRed{
    background-color: #f45b63;
    border-color: #f45b63;
    color: white;
}

#styleBtnBlue{
    background-color: #54a6de;
    border-color: #54a6de;
    color: white;
}

.btnStyleRadiusColor{
    border: transparent 1px solid;
    border-radius: 20px;
}
.btnStyleRadiusGray{
    border: gray 1px solid;
    border-radius: 20px;
}
.paddingBtnGroup{
    padding: 7px 25px;
}
.styleGraph{
    display: block;
    width: 100%;
    height: 700px;
}
#GraphBlock{
    margin-top: 50px;
}